.Top-navigation-container {
        width: 100%;
        text-align: center;
        align-items: baseline;
        display: flex;
      }
      
      .Top-navigation > ul{
        display: flex;
        flex: 3;

      }
      .Top-navigation-container > form {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        padding: 0 1rem;
      }
      
      .Top-navigation-container > input {
        flex: 2
      }


      