.Search {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Search-header {
  margin: 0 auto;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Results-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Results-container > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 20%;
  margin: 2rem;
}


