.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.App-header {
  margin: 0 auto;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}



