.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100vw;
  padding: 1rem 3rem;
}

.App-header {
  box-sizing: border-box;
  background-color: #282c34;
  height: 20vh;
  width: 100vW;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



